.idea/
resources/*
PruebaWeb
api-ciudadano-consciente/.quarkus/
api-ciudadano-consciente/logs
.obsidian/
documentation/RequirementsMeeting.md
documentation/Keycloak/
documentation/resources/
documentation/diagrams/
documentation/PERMISOS.md
documentation/POST de nuevo User.md
documentation/imageHandling.json
documentation/interaccionConProgramadores
documentation/mapeoUsuariosKC-API.txt
